.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.right-column {
  background-color: white;
}

.left-column {
  background-color: #f0f0f2;
}

.wrapper {
  margin: 15px;
  width:80%;
  background-color: white;
}
