.resume {
  width: 100%;
  padding: 30px
}

.buttons {
  margin-top: 30px;
  margin-bottom: 30px
}

.download_button {
  background-color: white;
  border: none;
  color: #008CBA;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: min(2vw, 20px);
  border-radius: 5px;
  margin-left: 1px;
  font-family: "Montserrat-Medium";
}

.toggle_button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: min(2vw, 20px);
  border-radius: 5px;
  margin-right: 1px;
  font-family: "Montserrat-Medium";
}

.resume-header-wrapper {
    width: 90%
}

.resume-wrapper {
  width: 100%;
  height: 700px;
  overflow-y: scroll;
  margin-bottom: 30px;
  max-width: 1200px;
}
.header-resume {
  text-align: right;
  font-size: min(6vw, 80px);
  padding-right: '15px';
  font-family: "Montserrat-Light";
  color: black;
}
